body{
    max-width: 1400px;
    margin-inline: auto;
    background-color: #eee9e4 !important;
    font-size: 1.25rem;
}

a, a:link, a:visited, a:hover {
    text-decoration: none;
    color: black !important; 
}

#navbar{
    display: flex;
    background-color: #d0621c;
    border: 2px solid #57300f !important;
    border-radius: 0 0 10px 10px !important;
    border-top: 0 !important;

}

#fixe{
    width:250px;
    text-align: center;
}

#fixe a{
    display: flex;
    color:white !important;
    font-size: 1.5em !important;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em ;
}

#fixe p{
    margin: 0;
    text-align: center;
}

#fixe img{
    height: 100px;
    border-radius: 6%;
    border-top-left-radius: 0;
    overflow: hidden;
}

.conteneur{
    display: flex;
    flex : 1 1 auto;
    justify-content: space-evenly;
    align-items: center;
}

main{
    width: 80%;
    height:75vh;
    margin: auto;
    margin-top: 2em;
    padding-top: 3em;
}

#boutons{
    flex-grow:4;
}

form *:focus{
    box-shadow: none !important;
    border-color: #57300f !important;
}

.bouton_nav{
    width: 20%;
    height:40%;
}
 
.elem {
    border: 2px solid #57300f;
    border-radius: 10px !important;
    min-height: 40px;
    background-color: white !important;
}

.elem:hover {
    color:white !important;
    background-color: #c2ad9c !important;
    border-radius: 10px;
}

.elem:hover a{
    color:white !important;
}

span{
    background-color: #fffdfb;
    border-radius: 10px;
    font-size: 2.1rem;
}

/*---------------------------------*/

.radio{
    color:black !important;
    box-shadow: none !important;
}



#formulaire_depot{
    height: auto;
    border:2px solid white !important;
    border-radius: 10px;
}

