* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* body {
	background-image:url("/assets/images/bg4.png") ;
	width: 80%;
	margin: auto;
	min-height: 100vh;
} */
body{
    max-width: 1400px;
    margin-inline: auto;
    background-color: #eee9e4 !important;
    font-size: 1.25rem;
}
main{
    width: 80%;
    height:75vh;
    margin: auto;
    margin-top: 2em;
    padding-top: 3em;
}

.container{
    width: 60%;
    height:50vh;
    margin: auto;
    /* margin-top: 2em; */
    padding-top: 2em;
    background-image: linear-gradient(to right,rgb(255,69,0),rgb(255, 153, 35));

    /* padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%); */
}
.containerform{
    width: 80%;
    height:100vh;
    margin: auto;
    /* margin-top: 2em; */
    /* padding-top: 2em; */
    background-image: linear-gradient(to right,rgb(168, 105, 32),rgb(255, 153, 35));
}
form{
    padding: 30px;
}
label
{
	display: block; /* La balise devient de type block. */
    /* margin-left: 20px; */
    /* margin-top: 2em; */
    /* padding-top: 1em; */
}
.form-control{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid  rgb(255,69,0);
    font-size: 22px;
}
.form-select{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid  rgb(255,69,0);
    font-size: 22px;
}
.form-label{
    font-size: 22px;
    color: white;
}
.btn-primary{
    border-radius: 0;
    background-color: rgb(255,69,0);
    border: none;
}
.form-check-label{
    font-size: 22px;
    color: white;
}
/* .form-check-input{
    margin-left: 20px;
} */
.form-control-file{
    font-size: 22px;
    color: white;
}
.form-control-file{
    font-size: 20px;
    color: white;
}
.col-10{
    color: white;
    /* padding: 20px; */
    /* margin-left: 30px; */
    display: block;
    margin : auto;
   
}
.btn-2{
    background-image: linear-gradient(to left,rgb(255,69,0),rgb(139,69,19));
    font-size: 25px;
    color: white;
    letter-spacing: 0.1em;
    transition: 0.5s;
    text-transform: uppercase;
    display: block;
    margin : auto;
    margin-top: 20px;
    text-align: center;
}
.btn-2:hover{

    background-image: linear-gradient(to right,rgb(255,69,0),rgb(139,69,19));
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px;

    }
.ajoutphoto{
    font-size: 22px;
    color: white;
}
.taille{
    font-size: 22px;
    color: white;
}
select{
    height: 50px;
}
/* .menu-img{
    display: flex;
    float: left;
} */
/* header {
	width:auto;
	background-size: cover;
} */
/* nav{
	display:flex;

}
.nav-link{
    color: rgb(139,69,19) !important;
	font-size: 22px;
	font-weight: bolder;
	margin: 0 50px;
}
.search{
    color: rgb(139,69,19) !important;
	font-size: 22px;
	font-weight: bolder; */ */
/* } */
h1,h2{
    color: rgb(255,69,0);
    font-size: 25px;
    text-align: center;

}


.galerie {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    align-content: flex-start;
}

.galerie img {
flex-grow: 1;
flex-shrink: 1;     /* La propriété flex-shrink définit le facteur de rétrécissement d'un élément flexible. Si la taille de l'ensemble des éléments flexibles est supérieure à la taille du conteneur, les éléments seront comprimés selon leur facteur flex-shrink.*/
flex-basis: auto;   /* La propriété flex-basis détermine la base de flexibilité utilisée comme taille initiale principale pour un élément flexible. */
max-width: 150px;
max-height: 150px;
min-width: 130px;
height: 150px;
border:whitesmoke;
border-style:solid;
border-radius: 2px;
border-width: 2px;
object-fit: cover;
}
.galerie:hover img {
    /* blur() pour obtenir un flou gaussien */
    /* brightness() pour rendre une image plus sombre ou plus claire */
    /* grayscale() convertit une image en niveau de gris */
    /* scale() permet de modifier la taille d'un élément */
    filter: brightness(0.8) grayscale(1) opacity(0.8) sepia(100%);
    transform: scale(0.8) ;
}
.galerie img:hover {
filter: brightness(1.5) opacity(1.2);
transform: scale(1.2);
}

.error{
    border-radius: 15px;
    border-color: red;
    border-style: double;
    /* border: 2px red; */
}

.btn-1:hover{
transform: translateY(-5px);
}

/**media Querry***/
@media only screen and (max-width:600px){
    .container{
        width: 90%;
        position: absolute;
        left: 50%;
        top: 40%;
        padding-bottom: 40px;
    }
}

