h1 {
    text-align: center;
  }

table {
    border: 1px solid #ccc;
  }
  
thead tr {
    background-color: #eee;
  }
  
 th, td {
    padding: 10px;
  }
  
.produit-quantite-prix-sous-total {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .prix {
    color: #ff0000;
  }